<p>ebooks-add works!</p>
<h2></h2>
<!--form (ngSubmit)="submit()" f="ngForm">
  <label>Titre: <input name="title" (ngModel)="ebook.title" required></label>
  <label>Author: <input name="author" (ngModel)="ebook.author"></label>
  <label>Price: <input name="price" type="number" (ngModel)="ebook.price"></label>
  <button type="submit" >Add</button>
</form-->
<form #f="ngForm" (ngSubmit)="addEbook(f)" >
  <div class="mb-3">
    <label for="title" class="form-label">Title</label><br> 
    <input type="text" class="title" id="title" name="title" ngModel required #t="ngModel">
    @if (t.invalid && t.touched )  {
    <span class="error">Ce champ est obligatoire </span>
    }
   &nbsp;
  </div>
  <div class="mb-3">
    <label for="author" class="author">Author</label><br>
    <input type="text" class="author" id="author" name="author" ngModel required #r="ngModel">
    @if (r.invalid && r.touched )  {
    <span class="error">Ce champ est obligatoire </span>
    }
    &nbsp;
  </div>
  <div class="mb-3">
    <label class="price" for="price">Price</label><br>
    <input type="number" class="price" id="price" name="price " ngModel required #p="ngModel">
    @if (p.invalid && p.touched )  {
    <span class="error">Ce champ est obligatoire </span>
    }
    &nbsp;
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>
  
</form>